<!--
  ~
  ~ The MIT License (MIT)
  ~
  ~ Copyright (c) 2018 Pallino & Co. Srl, http://www.pallino.it
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in
  ~ all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NON INFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  ~ THE SOFTWARE.
  -->

<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <div id="ext-t3registration-report">
        <f:if condition="{messages.errors->f:count()} > 0">
            <f:then>
                <div class="error-header"><f:translate key="tx_t3registration_report_critical_error_header" >Critical Errors</f:translate></div>
                <p class="error-subheader"><f:translate key="tx_t3registration_report_critical_error_subheader" >Some errors were found during elaborating process:</f:translate></p>
                <f:for each="{messages.errors}" as="message">
                    <div class="typo3-message message-error">
                        <div class="header-container">
                            <div class="message-header message-left"><f:translate key="tx_t3registration_report_critical_error_{message.code}.codeTitle">{message.code}</f:translate></div>
                            <div class="message-header message-right"><f:translate key="tx_t3registration_report_critical_error_{message.code}.codeField" arguments="{message.arguments}">{message.code}</f:translate></div>
                        </div>
                        <div class="message-body"><f:translate key="tx_t3registration_report_critical_error_{message.code}.codeMessage" arguments="{message.arguments}">{message.code}</f:translate></div>
                    </div>
                </f:for>
            </f:then>
        </f:if>
    <f:for each="{messages.warnings}" as="message">
        <div class="typo3-message message-error">
            <div class="header-container">
                <div class="message-header message-left">{message.code}</div>
                <div class="message-header message-right">{message.title}</div>
            </div>
            <div class="message-body">{message.message}</div>
        </div>
    </f:for>
        </div>
</f:section>
