<f:layout name="Default"/>
<f:section name="main">
    <h1>New User</h1>
    <f:form action="preview" name="user" object="{user}">
        <f:render partial="User/FormFields" arguments="{user}"/>
        <f:form.submit id="create" value="Create new"/>
    </f:form>

</f:section>
