<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"  data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="main">
    <script>
        var config = <f:format.htmlentitiesDecode> {config -> f:format.json()} </f:format.htmlentitiesDecode>;
        var userForm = <f:format.htmlentitiesDecode>{jsonForm}</f:format.htmlentitiesDecode>;
        var feUserGroups =  <f:format.htmlentitiesDecode> {feUserGroups -> f:format.json()} </f:format.htmlentitiesDecode>;
        var ajaxUrl = TYPO3.settings.ajaxUrls['t3registration_save'];
        var listActionUrl = '<f:format.htmlentitiesDecode><f:uri.action action="list"></f:uri.action></f:format.htmlentitiesDecode>';
        var translationLabel = TYPO3.lang;
        var extensionPath = '{extensionPath}';
    </script>

    <div id="app"></div>
    <script src="/typo3conf/ext/t3registration/Resources/Public/JavaScripts/Backend/build.js"></script>
</f:section>
