<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="main">

    <h1>
        <f:translate key="LLL:EXT:t3registration/Resources/Private/Language/locallang_module.xlf:formList.title"/>
    </h1>

    <f:flashMessages/>

    <f:if condition="{forms}">
        <f:then>
            <div class="panel panel-space panel-default recordlist">
                <div class="panel-heading">
                    <span><f:translate
                            key="LLL:EXT:t3registration/Resources/Private/Language/locallang_module.xlf:formList.edit_existing_forms"/></span>
                </div>
                <div class="collapse in">
                    <div class="table-fit">
                        <table id="forms" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="col-icon nowrap">
                                    <f:link.action action="new" class="btn btn-default" data="{identifier:'newForm'}">
                                        <core:icon identifier="actions-add"/>
                                    </f:link.action>
                                </th>
                                <th class="col-title col-responsive nowrap">
                                    <f:translate
                                            key="LLL:EXT:t3registration/Resources/Private/Language/locallang_module.xlf:formList.form_name"/>
                                </th>
                                <th class="col-control nowrap">
                                    <f:translate
                                            key="LLL:EXT:t3registration/Resources/Private/Language/locallang_module.xlf:formList.operations"/>
                                </th>
                                <th class="nowrap">
                                    <f:translate
                                            key="LLL:EXT:t3registration/Resources/Private/Language/locallang_module.xlf:formList.references"/>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <f:for each="{forms}" as="form">
                                <tr>
                                    <td class="col-icon nowrap">
                                       <span title="id={form.identifier}" data-toggle="tooltip" data-placement="right">
                                            <core:icon identifier="content-form"/>
                                        </span>
                                    </td>
                                    <td class="col-title col-responsive nowrap">
                                        <f:link.action action="edit" arguments="{form: form}"
                                                       data="{toggle: 'tooltip', placement: 'right'}">{form.title}
                                        </f:link.action>
                                    </td>
                                    <td class="col-control nowrap">
                                        <div class="btn-group" role="group">
                                            <f:link.action action="edit" arguments="{form: form}"
                                                           class="btn btn-default form-record-open">
                                                <core:icon identifier="actions-open"/>
                                            </f:link.action>
                                            <f:if condition="{form.referenceCount} != 0">
                                                <f:then>
                                                    <button class="btn btn-default form-record-readonly"
                                                            arguments="{form:'form'} disabled=" disabled
                                                    " >
                                                    <core:icon identifier="actions-edit-delete"/>
                                                    </button>
                                                </f:then>
                                                <f:else>
                                                    <a href="#" data-identifier="removeForm"
                                                       data-form-persistence-identifier="{form.persistenceIdentifier}"
                                                       class="btn btn-default form-record-delete"
                                                       onclick="return top.TYPO3.Modal.confirm('<f:translate key="LLL:EXT:t3registration/Resources/Private/Language/locallang_module.xlf:formList.delete_warning_title"/>', '<f:translate key="LLL:EXT:t3registration/Resources/Private/Language/locallang_module.xlf:formList.delete_warning_text"/>', top.TYPO3.Severity.warning)
		.on('confirm.button.ok', function() {
			window.location.href = '<f:uri.action action='delete' arguments="{form:form}"/>';
			top.TYPO3.Modal.currentModal.trigger('modal-dismiss');
		})
		.on('confirm.button.cancel', function() {
			top.TYPO3.Modal.currentModal.trigger('modal-dismiss');
		});"
                                                    >
                                                        <core:icon identifier="actions-edit-delete"/>
                                                    </a>
                                                </f:else>
                                            </f:if>
                                        </div>
                                    </td>
                                    <td class="nowrap">
                                        {form.referenceCount}
                                    </td>
                                </tr>
                            </f:for>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </f:then>
        <f:else>
            <f:be.infobox title="{f:translate(key: 'formList.no_forms', extensionName:'t3registration')}" state="-1">
                <p>
                    <f:translate
                            key="LLL:EXT:t3registration/Resources/Private/Language/locallang_module.xlf:formList.no_forms"/>
                </p>
                <f:link.action class="btn btn-primary" action="new">
                    <f:translate
                            key="LLL:EXT:t3registration/Resources/Private/Language/locallang_module.xlf:formList.create_new_form"/>
               </f:link.action>
            </f:be.infobox>
        </f:else>
    </f:if>

</f:section>
</html>
