<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <div class="tx-t3registration">
        <f:be.container includeCssFiles="{0:'/typo3/sysext/backend/Resources/Public/Css/backend.css', 1:'/typo3conf/ext/t3registration/Resources/Public/Css/form.css'}">
            <div class="module" data-module-id="" data-module-name="web_t3registration_module">
                <div class="module-loading-indicator"></div>
                <div class="module-body t3js-module-body">
                    <section id="t3-form-stage-container" data-identifier="stageContainer">
                        <div id="t3-form-stage-inner-container" data-identifier="stageContainerInner">
                            <div id="t3-form-stage-content">
                                <f:render section="main"/>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </f:be.container>
    </div>
</html>