<!--
  ~
  ~ The MIT License (MIT)
  ~
  ~ Copyright (c) 2018 Pallino & Co. Srl, http://www.pallino.it
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in
  ~ all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NON INFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  ~ THE SOFTWARE.
  -->

<label for="name">
	fn<f:translate key="tx_t3registration_domain_model_user.firstName" />: {user.firstName}
</label><br />
	<f:form.hidden property="firstName" /><br />
<label for="name">
   ln <f:translate key="tx_t3registration_domain_model_user.lastName" />: {user.lastName}
</label><br />
<f:form.hidden property="lastName" /><br />
<label for="name">
    us
    <f:translate key="tx_t3registration_domain_model_user.email"/>
    : {user.email}
</label><br />
<f:form.hidden property="email"/><br/>
<label for="name">
   pw <f:translate key="tx_t3registration_domain_model_user.password" />: {user.password}
</label><br />
<f:form.hidden property="password" /><br />
<label for="telephone">
    pw <f:translate key="tx_t3registration_domain_model_user.telephone" />: {user.telephone}
</label><br />
<f:form.hidden property="telephone" /><br />
