<label for="firstName">
    <f:translate key="LLL:EXT:lang/Resources/Private/Language/locallang_general.xlf:LGL.first_name"/>
    <span class="required">(required)</span>
</label><br/>
<f:form.textfield errorClass="form-error" id="firstName" property="firstName"/>
<f:render partial="FormErrorLabel" arguments="{field:'user.firstName'}"/>
<br/>

<label for="lastName">
    <f:translate key="LLL:EXT:lang/Resources/Private/Language/locallang_general.xlf:LGL.last_name"/>
</label><br/>
<f:form.textfield errorClass="form-error" id="lastName" property="lastName"/>
<f:render partial="FormErrorLabel" arguments="{field:'user.lastName'}"/>
<br/>

<label for="email">
    <f:translate key="LLL:EXT:frontend/Resources/Private/Language/locallang_tca.xlf:fe_users.email"/>
</label><br/>
<f:form.textfield id="email" errorClass="form-error" property="email"/>
<f:render partial="FormErrorLabel" arguments="{field:'user.email'}"/>
<br/>

<label for="password">
    <f:translate key="LLL:EXT:frontend/Resources/Private/Language/locallang_tca.xlf:fe_users.password"/>
</label><br/>
<f:form.textfield errorClass="form-error" id="password" property="password"/>
<f:render partial="FormErrorLabel" arguments="{field:'user.password'}"/>
<br/>

<label for="passwordTwice">
    <f:translate key="LLL:EXT:frontend/Resources/Private/Language/locallang_tca.xlf:fe_users.passwordTwice"/>
</label><br/>
<f:form.textfield errorClass="form-error" id="passwordTwice" name="passwordTwice"/>
<f:render partial="FormErrorLabel" arguments="{field:'user.password'}"/>
<br/>

<label for="telephone">
    <f:translate key="LLL:EXT:lang/Resources/Private/Language/locallang_general.xlf:LGL.phone"/>
</label><br/>
<f:form.textfield errorClass="form-error" id="telephone" property="telephone"/>
<f:render partial="FormErrorLabel" arguments="{field:'user.telephone'}"/>
<br/>

<label for="city">
    <f:translate key="LLL:EXT:lang/Resources/Private/Language/locallang_general.xlf:LGL.city"/>
</label><br/>
<f:form.textfield errorClass="form-error" id="city" property="city"/>
<f:render partial="FormErrorLabel" arguments="{field:'user.city'}"/>
<br/>

<label for="address">
    <f:translate key="LLL:EXT:lang/Resources/Private/Language/locallang_general.xlf:LGL.address"/>
</label><br/>
<f:form.textfield errorClass="form-error" id="address" property="address"/>
<f:render partial="FormErrorLabel" arguments="{field:'user.address'}"/>
<br/>

<label for="zip">
    <f:translate key="LLL:EXT:lang/Resources/Private/Language/locallang_general.xlf:LGL.zip"/>
</label><br/>
<f:form.textfield errorClass="form-error" id="zip" property="zip"/>
<f:render partial="FormErrorLabel" arguments="{field:'user.zip'}"/>
<br/>
